In [1]:
import pandas as pd

In [3]:
fruits = pd.Series([10, 6, 3], ['apples', 'bananas', 'berries'])

fruits

apples     10
bananas     6
berries     3
dtype: int64

In [4]:
fruits + 2

apples     12
bananas     8
berries     5
dtype: int64

In [5]:
fruits - 2

apples     8
bananas    4
berries    1
dtype: int64

In [6]:
fruits / 2

apples     5.0
bananas    3.0
berries    1.5
dtype: float64

In [7]:
import numpy as np

fruits

apples     10
bananas     6
berries     3
dtype: int64

In [8]:
np.sqrt(fruits)

apples     3.162278
bananas    2.449490
berries    1.732051
dtype: float64

In [9]:
np.exp(fruits)

apples     22026.465795
bananas      403.428793
berries       20.085537
dtype: float64

In [10]:
np.power(fruits, 2)

apples     100
bananas     36
berries      9
dtype: int64

In [11]:
fruits

apples     10
bananas     6
berries     3
dtype: int64

In [13]:
fruits['bananas'] + 2

8

In [14]:
fruits['apples'] - 2

8

In [16]:
fruits[['bananas', 'berries']] + 2

bananas    8
berries    5
dtype: int64

In [17]:
fruits[['apples', 'berries']] - 2

apples     8
berries    1
dtype: int64

In [18]:
fruits

apples     10
bananas     6
berries     3
dtype: int64